/* main stylesheet */

.card-header {
    height: 72pt;
}

.badge.bg-light {
    color: gray;
}

a.badge {
    text-decoration: none;
}

a.badge:hover {
    color: white;
    background-color: black !important;
}