{% extends 'layout.html' %}

{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{title}}</h1>
            <p class="lead text-muted">{{description}}</p>

            <div class="btn-group">

                {% if filter %}

                <a href="{{ url_for('main.index', order='desc') }}"
                   class="btn btn-secondary {{ 'active' if order == 'desc' else ''}}">{{ nice_filter }}&nbsp;<i class="bi bi-x-circle"></i></a>


                {% endif %}

                <a href="{{ url_for('main.index', order='asc', filter=filter) }}"
                   class="btn btn-primary {{ 'active' if order == 'asc' else ''}}">Ascending</a>
                <a href="{{ url_for('main.index', order='desc', filter=filter) }}"
                   class="btn btn-primary {{ 'active' if order == 'desc' else ''}}">Descending</a>
            </div>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

            {% for video in videos %}

            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ video.icon_uri }}">

                    <div class="card-header">
                        {{ video.name }}
                    </div>
                    <div class="card-body">

                        {% if video.description %}

                        <p class="card-text">{{ video.description }}</p>

                        {% endif %}

                        <div class="w-100">

                            {% if video.disabled %}

                            <a href="{{ url_for('main.index', order=order, filter='disabled') }}"
                               class="badge text-bg-danger">DISABLED</a>

                            {% endif %}

                            {% if video.is_featured %}

                            <a href="{{ url_for('main.index', order=order, filter='is_featured') }}"
                               class="badge text-bg-success">FEATURED</a>

                            {% endif %}

                            {% for video_feature in video.features %}

                            <a href="{{ url_for('main.index', order=order, filter=video_feature.feature.name) }}"
                               class="badge bg-light">{{ video_feature.feature.nice_name }}</a>

                            {% endfor %}

                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}