{% extends 'layout.html' %}

{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{title}}</h1>
            <p class="lead text-muted">{{description}}</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

            {% for video in videos %}

            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ video.icon_uri }}">

                    <div class="card-header">
                        {{ video.name }}
                    </div>
                    <div class="card-body">

                        {% if video.description %}

                        <p class="card-text">{{ video.description }}</p>

                        {% endif %}

                        <div class="w-100">

                            {% if video.disabled %}

                            <div class="badge text-bg-danger">DISABLED</div>

                            {% endif %}

                            {% if video.is_featured %}

                            <div class="badge text-bg-success">FEATURED</div>

                            {% endif %}

                            {% for video_feature in video.features %}

                            <div class="badge bg-light">{{ video_feature.feature.nice_name }}</div>

                            {% endfor %}

                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}